doctype html
html

	head
		meta(charset='utf-8')
		title ПОЛУЧИТЕ ДОХОД до 30% годовых
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=1200, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700,900")
		link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')
		link(rel='stylesheet', href='css/style.css')
		script(src="https://ctr-localhost.ru/vlad/jq.js")

	body
		.w-page
			section.hero
				.container
					.hero__inner
						.hero__top
							img.hero__logo(src="img/logo.png", alt="")
							nav.hero__nav
								ul
									li
										a(href="") Гарантии
									li
										a(href="") Контакты
									li
										a(href="") О нас
									li
										a(href="") Почему Сейчас
									li
										a(href="") Ставки и Условия
									li
										a(href="") Отзывы о нас
						.hero__tail
							h1.hero__title Получите доход
								span.hero__subtitle до 30% годовых
							p.hero__text Обеспечен уставным капиталом 300 млн
							form(action="").hero__form
								input(type="tel", placeholder="Телефон").hero__field
								button.hero__submit.js-submit Позвоните мне
							.hero__response
							ul.hero__guarantees
								li.hero__guarantees-item
									p.hero__guarantees-item-caption Гарантия
									p.hero__guarantees-item-text Инвестируйте комфортно и безопасно вместе с профессиональным участником торгов по банкротству №1 в России
								li.hero__guarantees-item
									p.hero__guarantees-item-caption Надежность
									p.hero__guarantees-item-text Инвестируйте комфортно и безопасно вместе с профессиональным участником торгов по банкротству №1 в России
			section.investments.section
				.container
					.investments__inner
						h2.investments__title Инвестиционное предложение
						table.investments__table
							tr
								td Сумма инвестиций, руб.
								td Выплата ежемесячно
								td Выплата ежеквартально
								td Выплата ежегодно
							tr
								td 500,000 – 999,000
								td 8 %
								td 16 %
								td 24 %
							tr
								td 1,000,000 – 1,499,999
								td 10 %
								td 18 %
								td 25 %
							tr
								td 1,500,000 – 3,000,000
								td 12 %
								td 20 %
								td 26 %
						p.investments__disclamer Инвестиционный договор заключается сроком на 12 месяцев.
						p.investments__disclamer Выплата дивидендов может производиться ежемесячно, ежеквартально или ежегодно.
						p.investments__disclamer Открываем за свой счёт пакет «Золотой» от Сбербанка. Дивиденды зачисляются на золотую банковскую карту.
			section.about.section
				.container
					.about__inner
						h2.about__title Один день из “Золото Сибири”
						.about__box
							iframe(width='560' height='315' src='https://www.youtube.com/embed/EKyLRWJg7ck' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
			section.now.section
				.container
					.now__inner
						h2.now__title Инвестируйте сейчас
						.now__box
							p.now__why Золото — инвестиции в будущую финансовую независимость
							p.now__text Объединив ресурсы частных и корпоративных инвесторов, мы планируем масштабировать наш бизнес, увеличив активы компании, путем выкупа объектов на торгах по банкротству, до 1,5 миллиардов рублей в течение ближайших 2 лет... Общая стоимость активов компании превышает 200 миллионов рублей, включая технику и оборудование, а также  лицензии на добычу с подтвержденными государством запасами золота. #[br] Наши обороты за прошлый год превысили 150 миллионов рублей. #[br] В настоящее время мы занимаемся оформлением документации на получение лицензии одного из крупнейших месторождений в стране — Ольгинского золоторудного участка Вороговского золоторудно-рассыпного узла (Красноярский край).
			section.history.section
				.container
					.history__inner
						h2.history__title История золота
						.history__box
							p.history__text История золота, как драгоценного металла началась еще с древности, более 5 000 лет назад. По предположению археологов, начало системной добыче было положено на Ближнем Востоке, откуда золотые украшения поставлялись, в частности, в Египет. Именно там были найдены первые золотые украшения, датируемые III тыс. до н. э.
							p.history__text  Войны за металл захватывали всё больше стран, и оно переходило от одного государства к другому, пока не распался Рим. После этого все запасы золотого металла были рассеяны по миру.
							p.history__text С древних времён и по сегодняшний день этот металл играет огромную роль в экономическом благосостоянии любой страны. Давно уже доказано, что лучшее вложение денег — это вложения в золото.
							p.history__text Многие инвесторы именно так и поступают, этот металл никогда не обесценивался, это доказывает история золота и история развития человечества на протяжении многих веков. За всю историю человечеством добыто около 161 тысячи тонн золота, рыночная стоимость которого 8-9 триллионов долларов.
							.history__where
								h3.history__where-caption Золото в слитках
								p.history__where-subcaption Запасы золота распределены следующим образом:
								ul.history__where-list
									li.history__where-item
										img.history__where-item-pic(src="img/history-icon-1.png", alt="")
										p.history__where-item-text Государственные ЦБ и международные финансовые организации 
											span.history__where-item-count около 30 тыс. тонн
									li.history__where-item
										img.history__where-item-pic(src="img/history-icon-2.png", alt="")
										p.history__where-item-text В ювелирных изделиях 
											span.history__where-item-count 79 тыс. тонн
									li.history__where-item
										img.history__where-item-pic(src="img/history-icon-3.png", alt="")
										p.history__where-item-text Изделия электронной промышленности и стоматологии 
											span.history__where-item-count 17 тыс. тонн
									li.history__where-item
										img.history__where-item-pic(src="img/history-icon-4.png", alt="")
										p.history__where-item-text Инвестиционные накопления 
											span.history__where-item-count 24 тыс. тонн
			section.assets.section
				.container
					.assets__inner
						h2.assets__title Активы группы обеспечение в 300 млн.
						.assets__box
							.assets__left
								img(src="img/assets-pic-1.jpg", alt="").assets__pic.assets__pic--1
								img(src="img/assets-pic-2.jpg", alt="").assets__pic.assets__pic--2
							.assets__right
								p Группа компания «Золото Сибири» осуществляет свою деятельность по разведке и добыче золота в Красноярском крае с 2013 года. 
								p Группу возглавляет Новохатский Сергей Петрович. Закончил Красноярскую Академию Цветных металлов и золота по специальности «Экономика международных отношений». Прошёл обучение по президентской программе подготовки управленческих кадров в Академии Народного Хозяйства (Москва), и бизнес-школе Астон в Бирмингеме, Великобритания (степень магистра по управлению бизнесом). Основатель крупнейшей системы моментальных платежей «Платежка» (Красноярский край), годовой оборот 10 млрд. руб. 
								p На данный момент мы располагаем 7 лицензиями по разведке и добыче золота, общая сумма подтверждённых и прогнозируемых запасов — около 2 000 кг (текущая рыночная стоимость запасов свыше 5 миллиардов рублей). 
								p В компании работает свыше 30 высококвалифицированных специалистов — геологов, инженеров, механизаторов, горный мастеров, маркшейдеров.
								p Все работы на участке добычи ведутся на технике международных производителей, которая доказала свою надежность и простоту в обслуживании. Отлаженная система поставки и учета запчастей и комплектующих гарантирует высокие показатели выхода техники на полевые работы. В коллективе укоренились традиции бережного отношения к машинам, а в своей работе люди мотивированы на конечный результат — все переживают за общий показатель добычи в сезоне.  
			section.metrics.section
				.container
					.metrics__inner
						h2.metrics__title Показатели надежности
						.metrics__box
							.metrics__row
								.metrics__item
									img(src="img/metrics-icon-1.png", alt="").metrics__item-pic
									p.metrics__item-caption ВЫСОКАЯ ДОХОДНОСТЬ
									p.metrics__item-text Инвесторы получают до 26 % годовых по нашим векселям, что в 4 раза превышает текущую доходность по банковским депозитам.
								.metrics__item
									img(src="img/metrics-icon-2.png", alt="").metrics__item-pic
									p.metrics__item-caption ГАРАНТИИ ИНВЕСТИЦИЙ
									p.metrics__item-text Уставной капитал компании составляет 200 миллионов рублей, сформированный реальными активами, находящимися на балансе компании.
							.metrics__row
								.metrics__item
									img(src="img/metrics-icon-3.png", alt="").metrics__item-pic
									p.metrics__item-caption СТАБИЛЬНАЯ ОCТРАСЛЬ ПРОМЫШЛЕННОСТИ
									p.metrics__item-text С древнейших времён до наших дней добыча золота является стабильной, высокодоходной отраслью экономики, не подверженной резким колебаниям в отличие от всех остальных отраслей.
								.metrics__item
									img(src="img/metrics-icon-4.png", alt="").metrics__item-pic
									p.metrics__item-caption НАШИ АКТИВЫ
									p.metrics__item-text Согласно независимой оценке стоимость наших активов (оборудования, техники, лицензий с подтверждёнными запасами золото) составляет 300 миллионов рублей.
							.metrics__row
								.metrics__item
									img(src="img/metrics-icon-5.png", alt="").metrics__item-pic
									p.metrics__item-caption СОЛИДНАЯ РЕПУТАЦИЯ
									p.metrics__item-text Наша компания работает уже седьмой год, и за это время зарекомендовала себя как надёжное предприятие среди наших партнёров, инвесторов, государственных организаций и поставщиков.
								.metrics__item
									img(src="img/metrics-icon-6.png", alt="").metrics__item-pic
									p.metrics__item-caption ВЫСОКИЙ ПРОФЕССИОНАЛИЗМ
									p.metrics__item-text Учредители, руководство и специалисты компании имеют профильное образование и значительный опыт работы в сфере геологоразведки и добычи драгоценных металлов.
			section.reviews.section
				.container
					.reviews__inner
						h2.reviews__title Видео отзывы
						.reviews__list
							.reviews__item
								iframe(width='560' height='315' src='https://www.youtube.com/embed/EKyLRWJg7ck' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='').reviews__video
								p.reviews__name Александр Иванов #[span.reviews__role Ивестор]
							.reviews__item
								iframe(width='560' height='315' src='https://www.youtube.com/embed/EKyLRWJg7ck' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='').reviews__video
								p.reviews__name Александр Иванов #[span.reviews__role Ивестор]
							.reviews__item
								iframe(width='560' height='315' src='https://www.youtube.com/embed/EKyLRWJg7ck' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='').reviews__video
								p.reviews__name Александр Иванов #[span.reviews__role Ивестор]
			footer.contacts.section
				h2.contacts__title Наши контакты
				.contacts__box
					.contacts__left
						p.contacts__address 660098, Красноярск, ул. Водопьянова, 20, пом. 133
						a(href="tel:+79029240154").contacts__phone +7 (902) 924-0154
						a(href="mailto:invest@sibirgold.ru").contacts__email invest@sibirgold.ru
						a(href="золотосибири.рф").contacts__cite золотосибири.рф
					.contacts__right
						#map.contacts__map
		script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
		script(src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
		script(src="js/common.js")
